/* Semantic styling */

body {
    background: black;
}

nav {
    padding-bottom: 0.5rem;
}

/* Main styles */

/* Utility bar */

div.timepieces-utilities {
    margin: 0.5rem 2rem;
    position: relative;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid white;
}

input.timepieces-utilities-input {
    color: white;
    outline: none;
    background: none;
    border: 0;
    width: 100%;
    font-size: 1.75vw;
}

.timepieces-utilities-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 0.5px solid white;
    border-radius: 100%;
    height: 1.75rem;
    width: 1.75rem;
    right: 0;
    top: 0;
}

.timepieces-utilities-icon svg {
    height: 0.75rem;
    width: 0.75rem;
}

/* Main */

main {
    margin: 1rem 2rem;
}

header {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

div.timepieces-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Timepieces container */

div.timepieces-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
    margin: 2rem 0;
}

/* Tablet view */

@media screen and (max-width: 768px) {
    div.timepieces-utilities {
        padding-bottom: 1rem;
    }

    input.timepieces-utilities-input {
        font-size: 2.5vw;
    }

    div.timepieces-container {
        grid-template-columns: repeat(2, 1fr);
    }
}